<div class="container-fluid">
  <h1>Form</h1>
  <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>   

    <div class="form-group">
      <label>employeeName</label>
      <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control" name ="empname" ngModel>
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">name is required*</small>
    </div>

    <div ngModelGroup="address">
      <div class="form-group">
        <label>street</label>
        <input type="text" class="form-control" name = "street" ngModel>
      </div>
    </div>

    <div ngModelGroup="address">
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" name = "city" ngModel>
      </div>
    </div>

    <div ngModelGroup="address">
      <div class="form-group">
        <label>State</label>
        <input type="text" class="form-control" name = "state" ngModel>
      </div>
    </div>

    <div ngModelGroup="address">
      <div class="form-group">
        <label>PostalCode</label>
        <input type="text" class="form-control" name = "code" ngModel>
      </div>
    </div>

    <div class="form-group">
      <label>employeePhoneNumber</label>
      <input type="tel" required #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched" class="form-control" name = "empNumber" ngModel>
      <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">phone number is required or enter 10 digit*</small>
      
    </div>

    <div class="form-group">
      <label>employeeDob</label>
      <input type="text" class="form-control" name = "empDob" ngModel>
    </div>

    <div class="form-group">
      <label>employeeEmail</label>
      <input type="email" required #email="ngModel" [class.is-invalid]="email.invalid && email.touched"  class="form-control" name = "empEmail" ngModel>
      <small class="text-danger" [class.d-none]="email.valid || email.untouched">email is required*</small>     
    </div>
    <hr/>
    <div>
    <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>